<%- include('../partials/header.ejs') %>

<h1>Pawprint: <%= user.pawprint %></h1>

<p>I want to get better at developing webpages through this class and learn the modern ways to do so. I'd also like to get better at react and ejs 
    to implement them in my own projects.
</p>